/*
table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
    content: " \25B4\25BE"
}
*/
/* Sortable tables */
table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}
.inner th {
    padding-left: 10px;
    display: inline-block;
    position: relative;
    text-align: center;
    width: 25px;
}

#posts-chart{
	width: 1750px;
	height: 250px;
	}

.legend{
	font-size: 7pt; /* Размер шрифта в пунктах */
}

.textarea{
    width:100%;
}

.more-opacity{
    opacity:0.4;
}
