{% extends "layout.html" %}
{% block body %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                User : <span>{{user}}</span>
                <br>
                State : <span>{{state}}</span>
                <br>
                Info : <span>{{info}}</span>
            </div>
        </div>
    </div>
</div>


<a href="{{url_for('bot_auth_start')}}"> Go to add new bot credentials</a>
{% endblock %}

{% endblock %}