{% extends "layout.html" %}
{% block body %}

{% block content %}

<a href="{{url_for('main')}}"><h1><<<<< Back to main</h1>

</a>
<h1> [{{el['name']}}] info:</h1>
<hr>
<div id="posts-chart" chart_for="{{ el['name'] }}"></div>
<table class="table table-striped">
    <thead>
    <tr>
        <th>
            Name
        </th>
        <th>
            <table class="inner">
                <thead>
                <tr>
                    <th class="glyphicon glyphicon-chevron-up">
                    </th>
                    <th class="glyphicon glyphicon-chevron-down">
                    </th>
                    <th class="glyphicon glyphicon-eye-open">
                    </th>
                    <th class="glyphicon glyphicon-time">
                    </th>
                    <th class="glyphicon glyphicon-remove">
                    </th>
                </tr>
                </thead>
            </table>
        </th>
        <th>
            Next time retrieve
        </th>
        <th>
            Count retrieved
        </th>
        <th>
            Time window in retrieved
        </th>
        <th>
            Last batch retrieved
        </th>
        <th>
            Count interested
        </th>
        <th>
            Error?
        </th>
    </tr>
    </thead>
    <tbody>


    {% include "partials/sbrdt_row.html"%}

    </tbody>
</table>
<hr>
<h1>
    POSTS:
</h1>



        {% include "partials/post_row.html"%}


{% endblock %}

{% endblock %}