<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru" dir="ltr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;"/>
    <title>USS Hartford (SSN 768) surfaces at the Arctic circle for ICEX 2016 - YouTube</title>
    <link rel="icon" href="https://s.ytimg.com/yts/favicon-vflz7uhzw.ico" type="image/x-icon">
    <link rel="shortcut icon" href="https://s.ytimg.com/yts/favicon-vflz7uhzw.ico" type="image/x-icon">
    <link rel="canonical" href="http://www.youtube.com/watch?v=PSE9Zjh364M">
    <link rel="alternate" href="android-app://com.google.android.youtube/http/www.youtube.com/watch?v=PSE9Zjh364M">
    <link rel="alternate" href="ios-app://544007664/vnd.youtube/www.youtube.com/watch?v=PSE9Zjh364M">
    <style type="text/css">
        /* <![CDATA[ */
        a:link,a:visited,a:hover {color:#0033CC;text-decoration:none}
        .videoListItem:active {background:#EEE}
        .videoListItem:hover {background:#EEE;cursor:pointer}
        /* ]]> */
    </style>
    <script type="text/javascript">
/* <![CDATA[ */
if(typeof ytm == "undefined") var ytm = {};
ytm.startTime = new Date().getTime();
ytm.iref = {};
ytm.nextiref_ = 1;
ytm.isOn3g_ = function() {
if (navigator.connection && navigator.connection.type) {
return navigator.connection.type != navigator.connection.WIFI;
}
return 0
};
ytm.sendPlaybackPing = function(encrypted_video_id, fmt) {
setTimeout(function() {
var img = new Image();
var id = ytm.nextiref_++;
ytm.iref[id] = img;
img.onload = img.onerror = function() {
delete ytm.iref[id];
};
img.src = "/gen_204?"+[
"app=youtube_mobile",
"el=detailpage",
(fmt ? "fmt="+fmt : ""),
"gl=RU",
"hl=ru",
"on3g="+(ytm.isOn3g_() ? 1 : 0),
"plid=AAUucHlZEqBvsVYP",
"ps=mobile",
"rdm="+(new Date().getTime()%10000),
"video_id="+encrypted_video_id
].join("&");
img = null;
}, 0);
return true;
};
/* ]]> */

    </script>
</head>
<body style="color:#333;font-family:sans-serif;margin:0;font-size:13px;background-color:#fff">
<table width="100%" cellspacing="0">
    <tr>
        <td valign="top" style="padding: 6px 0 2px 5px; font-size: 0">
            <img src="https://s.ytimg.com/yts/mobile/img/v2/pic_ytlogo_48x20-vflPBZ6xK.gif" alt="YouTube logo"
                 width="48" height="20" style="border:0;margin:0px;"/>
            <a id="top"></a>
        </td>
    </tr>
</table>
<iframe id="signin-passive"
        src="https://accounts.google.com/ServiceLogin?passive=true&amp;hl=ru&amp;service=youtube&amp;continue=https%3A%2F%2Fm.youtube.com%2Fsignin%3Fapp%3Dm%26next%3Dhttp%253A%252F%252Fm.youtube.com%252Fsignin_passive%253Foriginal_url%253DORIGINAL_URL_PLACE_HOLDER%26action_handle_signin%3Dtrue%26feature%3Dmobile_passive%26hl%3Dru&amp;btmpl=mobile_tier2&amp;ltmpl=mobile&amp;uilel=3"
        style="display:none"></iframe>
<div style="margin-right:3px;margin-left:3px">


    <form id="searchForm" action="/results?client=mv-google&amp;gl=RU&amp;hl=ru" method='get' style="padding:5px 0">
        <div>
            <input name="client" type="hidden" value="mv-google"/>
            <input name="hl" type="hidden" value="ru"/>
            <input name="gl" type="hidden" value="RU"/>
            <input accesskey="*" name="q" type="text" size="15" maxlength="128"
                   style="color:#333;font-family:sans-serif;width:65%;padding:0" value=""/>
            <input type="submit" name="submit" value="Поиск"
                   style="color:black;padding:0;font-size:100%;margin-top:2px"/>
        </div>
    </form>
</div>
<hr size="1" noshade='noshade' color="#999"
    style="width:100%;height:1px;margin:2px 0;padding:0;color:#999;background:#999;border:none;"/>
<div style="margin-right:3px;margin-left:3px">
    <div style="text-align:left;margin:3px 0;border-top:none;padding-top:8px">
        <div dir="ltr"
             style="padding-bottom:1px;font-weight:bold">
            USS Hartford (SSN 768) surfaces at the Arctic circle for ICEX 2016
        </div>
        <table>
            <tr valign="top">
                <td align="left" width="">

                    <a href="rtsp://r12---sn-4g57knz6.googlevideo.com/Cj0LENy73wIaNAmD63c4Zj0hPRMYDSANFC2i9e1WMOCoAUIASARgkMDG6KO0_fZWigELLTRJcGNuYm9XNUEM/4B0D03C172A3BDF82A308BFCC99917587EC3E0BC.5EC14BCDF5C34A9833C59008D6ABE7B1E9709D3F/yt6/1/video.3gp"
                       type="video/3gp" onclick="return ytm.sendPlaybackPing('PSE9Zjh364M','13');"
                    ><img src="https://i.ytimg.com/vi/PSE9Zjh364M/hqdefault.jpg?w=160&amp;h=120&amp;sigh=gN8ZK1s1tLr8L2IDkRDy1IVqU9o"
                          alt="видео" width="160" height="120" style="border:0;"/></a>
                </td>
                <td>
                    <div style="font-size:13px">
                        <div style="text-align:left;padding-left:2px;font-size:80%">
                            <div>
                                4:36
                                Понравилось: <span style="color: #006500">264</span>. Не понравилось: <span
                                    style="color: #CB0000">10</span>.
                            </div>
                            <div>
                                51 197 просмотров
                            </div>
                            <div>
                                <a href="/channel/UCKuSaHewQKWjR2wFuqfkMEA"
                                   class="yt-uix-sessionlink g-hovercard      spf-link "
                                   data-sessionlink="ei=ovXtVqj9I9GaYK_8m9AO" data-ytid="UCKuSaHewQKWjR2wFuqfkMEA">U.S.
                                    Navy</a>
                            </div>
                            <div>
                                Опубликовано: 18 мар. 2016 г.
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div>
        <a href="rtsp://r12---sn-4g57knz6.googlevideo.com/Cj0LENy73wIaNAmD63c4Zj0hPRMYDSANFC2i9e1WMOCoAUIASARgkMDG6KO0_fZWigELLTRJcGNuYm9XNUEM/4B0D03C172A3BDF82A308BFCC99917587EC3E0BC.5EC14BCDF5C34A9833C59008D6ABE7B1E9709D3F/yt6/1/video.3gp"
           type="video/3gp" onclick="return ytm.sendPlaybackPing('PSE9Zjh364M','13');"
           alt="video">Посмотреть</a>
    </div>
    <a href="#watch_actions">
        Отправить
    </a>
</div>
<br/>
<div style="margin-right:3px;margin-left:3px">
    <div dir="ltr" align="left">
        ARCTIC CIRCLE (March 10, 2016) USS Ha...
        (<a href="watch?v=PSE9Zjh364M&amp;fulldescription=1&amp;client=mv-google&amp;gl=RU&amp;hl=ru">
        ещё
    </a>)
    </div>
</div>
<br/>
<a name="more"></a>
<div style="padding-bottom:3px;margin-right:3px;margin-left:3px;font-weight:bold;font-size:110%">
    Похожие видео
</div>
<div>
    <div>
        <table width="100%">
            <tr valign="top">
                <td width="125">
                    <div>
                        <a href="  /watch?v=RFHq9IHs6d4&amp;itct=CBoQpDAYACITCODD4sqHzssCFUQwHQode0UKGDIHcmVsYXRlZEiD19_D46zPkD0%3D&amp;client=mv-google&amp;gl=RU&amp;hl=ru
">
                            <img src="//i.ytimg.com/vi/RFHq9IHs6d4/default.jpg" alt="video icon" width="120"
                                 height="90"/>
                        </a>
                    </div>
                </td>
                <td style="width:100%;font-size:13px">
                    <div style="text-align:left;padding-bottom:1px;font-size:90%" dir="ltr"
                    >
                        <a href="  /watch?v=RFHq9IHs6d4&amp;itct=CBoQpDAYACITCODD4sqHzssCFUQwHQode0UKGDIHcmVsYXRlZEiD19_D46zPkD0%3D&amp;client=mv-google&amp;gl=RU&amp;hl=ru
">
                            Massive US Submarines Breaking Through Ocean of Ice in the Arctic
                        </a>
                    </div>
                    <div style="color:#333;font-size:80%">
                        17:45
                    </div>
                    <div style="color:#333;font-size:80%">
                        Daily Military Defense &amp; Archive
                    </div>
                    <div style="color:#333;font-size:80%">
                        2 205 просмотров
                    </div>
                </td>
            </tr>
        </table>
        <hr size="1" noshade='noshade' color="#999"
            style="width:100%;height:1px;margin:2px 0;padding:0;color:#999;background:#999;border:none;"/>
        <table width="100%">
            <tr valign="top">
                <td width="125">
                    <div>
                        <a href="  /watch?v=8QxFNtjM4rE&amp;itct=CBgQpDAYASITCODD4sqHzssCFUQwHQode0UKGDIHcmVsYXRlZEiD19_D46zPkD0%3D&amp;client=mv-google&amp;gl=RU&amp;hl=ru
">
                            <img src="//i.ytimg.com/vi/8QxFNtjM4rE/default.jpg" alt="video icon" width="120"
                                 height="90"/>
                        </a>
                    </div>
                </td>
                <td style="width:100%;font-size:13px">
                    <div style="text-align:left;padding-bottom:1px;font-size:90%" dir="ltr"
                    >
                        <a href="  /watch?v=8QxFNtjM4rE&amp;itct=CBgQpDAYASITCODD4sqHzssCFUQwHQode0UKGDIHcmVsYXRlZEiD19_D46zPkD0%3D&amp;client=mv-google&amp;gl=RU&amp;hl=ru
">
                            Massive US Submarines Breaking Through Ocean of Ice in the Arctic
                        </a>
                    </div>
                    <div style="color:#333;font-size:80%">
                        17:45
                    </div>
                    <div style="color:#333;font-size:80%">
                        Canal DEU NA INTERNET
                    </div>
                    <div style="color:#333;font-size:80%">
                        Нет просмотров
                    </div>
                </td>
            </tr>
        </table>
        <hr size="1" noshade='noshade' color="#999"
            style="width:100%;height:1px;margin:2px 0;padding:0;color:#999;background:#999;border:none;"/>
        <table width="100%">
            <tr valign="top">
                <td width="125">
                    <div>
                        <a href="  /watch?v=59cwaMeMdJE&amp;itct=CBYQpDAYAiITCODD4sqHzssCFUQwHQode0UKGDIHcmVsYXRlZEiD19_D46zPkD0%3D&amp;client=mv-google&amp;gl=RU&amp;hl=ru
">
                            <img src="//i.ytimg.com/vi/59cwaMeMdJE/default.jpg" alt="video icon" width="120"
                                 height="90"/>
                        </a>
                    </div>
                </td>
                <td style="width:100%;font-size:13px">
                    <div style="text-align:left;padding-bottom:1px;font-size:90%" dir="ltr"
                    >
                        <a href="  /watch?v=59cwaMeMdJE&amp;itct=CBYQpDAYAiITCODD4sqHzssCFUQwHQode0UKGDIHcmVsYXRlZEiD19_D46zPkD0%3D&amp;client=mv-google&amp;gl=RU&amp;hl=ru
">
                            USS Hartford Sufaces • Nuclear Boat Breaks The Ice
                        </a>
                    </div>
                    <div style="color:#333;font-size:80%">
                        3:54
                    </div>
                    <div style="color:#333;font-size:80%">
                        Gung Ho Vids
                    </div>
                    <div style="color:#333;font-size:80%">
                        3 178 просмотров
                    </div>
                </td>
            </tr>
        </table>
        <hr size="1" noshade='noshade' color="#999"
            style="width:100%;height:1px;margin:2px 0;padding:0;color:#999;background:#999;border:none;"/>
        <table width="100%">
            <tr valign="top">
                <td width="125">
                    <div>
                        <a href="  /watch?v=42iGNBY8ciY&amp;itct=CBQQpDAYAyITCODD4sqHzssCFUQwHQode0UKGDIHcmVsYXRlZEiD19_D46zPkD0%3D&amp;client=mv-google&amp;gl=RU&amp;hl=ru
">
                            <img src="//i.ytimg.com/vi/42iGNBY8ciY/default.jpg" alt="video icon" width="120"
                                 height="90"/>
                        </a>
                    </div>
                </td>
                <td style="width:100%;font-size:13px">
                    <div style="text-align:left;padding-bottom:1px;font-size:90%" dir="ltr"
                    >
                        <a href="  /watch?v=42iGNBY8ciY&amp;itct=CBQQpDAYAyITCODD4sqHzssCFUQwHQode0UKGDIHcmVsYXRlZEiD19_D46zPkD0%3D&amp;client=mv-google&amp;gl=RU&amp;hl=ru
">
                            Navy Submarine Breaks Through Ice in the Arctic Circle
                        </a>
                    </div>
                    <div style="color:#333;font-size:80%">
                        0:24
                    </div>
                    <div style="color:#333;font-size:80%">
                        WeatherNation
                    </div>
                    <div style="color:#333;font-size:80%">
                        Нет просмотров
                    </div>
                </td>
            </tr>
        </table>
        <hr size="1" noshade='noshade' color="#999"
            style="width:100%;height:1px;margin:2px 0;padding:0;color:#999;background:#999;border:none;"/>
        <table width="100%">
            <tr valign="top">
                <td width="125">
                    <div>
                        <a href="  /watch?v=jPTbSby4lIc&amp;itct=CBIQpDAYBCITCODD4sqHzssCFUQwHQode0UKGDIHcmVsYXRlZEiD19_D46zPkD0%3D&amp;client=mv-google&amp;gl=RU&amp;hl=ru
">
                            <img src="//i.ytimg.com/vi/jPTbSby4lIc/default.jpg" alt="video icon" width="120"
                                 height="90"/>
                        </a>
                    </div>
                </td>
                <td style="width:100%;font-size:13px">
                    <div style="text-align:left;padding-bottom:1px;font-size:90%" dir="ltr"
                    >
                        <a href="  /watch?v=jPTbSby4lIc&amp;itct=CBIQpDAYBCITCODD4sqHzssCFUQwHQode0UKGDIHcmVsYXRlZEiD19_D46zPkD0%3D&amp;client=mv-google&amp;gl=RU&amp;hl=ru
">
                            USS Bremerton Returns for Namesake Visit
                        </a>
                    </div>
                    <div style="color:#333;font-size:80%">
                        2:10
                    </div>
                    <div style="color:#333;font-size:80%">
                        HomeportNorthwest
                    </div>
                    <div style="color:#333;font-size:80%">
                        854 просмотра
                    </div>
                </td>
            </tr>
        </table>
        <hr size="1" noshade='noshade' color="#999"
            style="width:100%;height:1px;margin:2px 0;padding:0;color:#999;background:#999;border:none;"/>
        <table width="100%">
            <tr valign="top">
                <td width="125">
                    <div>
                        <a href="  /watch?v=z24aWjZ6KOE&amp;itct=CBAQpDAYBSITCODD4sqHzssCFUQwHQode0UKGDIHcmVsYXRlZEiD19_D46zPkD0%3D&amp;client=mv-google&amp;gl=RU&amp;hl=ru
">
                            <img src="//i.ytimg.com/vi/z24aWjZ6KOE/default.jpg" alt="video icon" width="120"
                                 height="90"/>
                        </a>
                    </div>
                </td>
                <td style="width:100%;font-size:13px">
                    <div style="text-align:left;padding-bottom:1px;font-size:90%" dir="ltr"
                    >
                        <a href="  /watch?v=z24aWjZ6KOE&amp;itct=CBAQpDAYBSITCODD4sqHzssCFUQwHQode0UKGDIHcmVsYXRlZEiD19_D46zPkD0%3D&amp;client=mv-google&amp;gl=RU&amp;hl=ru
">
                            USS NEW HAMPSHIRE (SSN 778) Retirement Ceremony
                        </a>
                    </div>
                    <div style="color:#333;font-size:80%">
                        4:18
                    </div>
                    <div style="color:#333;font-size:80%">
                        RTA PRODUCTIONS
                    </div>
                    <div style="color:#333;font-size:80%">
                        501 просмотр
                    </div>
                </td>
            </tr>
        </table>
        <hr size="1" noshade='noshade' color="#999"
            style="width:100%;height:1px;margin:2px 0;padding:0;color:#999;background:#999;border:none;"/>
        <table width="100%">
            <tr valign="top">
                <td width="125">
                    <div>
                        <a href="  /watch?v=H8OzlpZZhPc&amp;itct=CA4QpDAYBiITCODD4sqHzssCFUQwHQode0UKGDIHcmVsYXRlZEiD19_D46zPkD0%3D&amp;client=mv-google&amp;gl=RU&amp;hl=ru
">
                            <img src="//i.ytimg.com/vi/H8OzlpZZhPc/default.jpg" alt="video icon" width="120"
                                 height="90"/>
                        </a>
                    </div>
                </td>
                <td style="width:100%;font-size:13px">
                    <div style="text-align:left;padding-bottom:1px;font-size:90%" dir="ltr"
                    >
                        <a href="  /watch?v=H8OzlpZZhPc&amp;itct=CA4QpDAYBiITCODD4sqHzssCFUQwHQode0UKGDIHcmVsYXRlZEiD19_D46zPkD0%3D&amp;client=mv-google&amp;gl=RU&amp;hl=ru
">
                            Crew of USS ALEXANDRIA runs into Santa
                        </a>
                    </div>
                    <div style="color:#333;font-size:80%">
                        0:56
                    </div>
                    <div style="color:#333;font-size:80%">
                        mpdivo
                    </div>
                    <div style="color:#333;font-size:80%">
                        1 796 просмотров
                    </div>
                </td>
            </tr>
        </table>
        <hr size="1" noshade='noshade' color="#999"
            style="width:100%;height:1px;margin:2px 0;padding:0;color:#999;background:#999;border:none;"/>
        <table width="100%">
            <tr valign="top">
                <td width="125">
                    <div>
                        <a href="  /watch?v=o9FXXzPZ6P4&amp;itct=CAwQpDAYByITCODD4sqHzssCFUQwHQode0UKGDIHcmVsYXRlZEiD19_D46zPkD0%3D&amp;client=mv-google&amp;gl=RU&amp;hl=ru
">
                            <img src="//i.ytimg.com/vi/o9FXXzPZ6P4/default.jpg" alt="video icon" width="120"
                                 height="90"/>
                        </a>
                    </div>
                </td>
                <td style="width:100%;font-size:13px">
                    <div style="text-align:left;padding-bottom:1px;font-size:90%" dir="ltr"
                    >
                        <a href="  /watch?v=o9FXXzPZ6P4&amp;itct=CAwQpDAYByITCODD4sqHzssCFUQwHQode0UKGDIHcmVsYXRlZEiD19_D46zPkD0%3D&amp;client=mv-google&amp;gl=RU&amp;hl=ru
">
                            8-USS Parche Sail and Fountain Park Sign
                        </a>
                    </div>
                    <div style="color:#333;font-size:80%">
                        0:16
                    </div>
                    <div style="color:#333;font-size:80%">
                        ArtAnderson
                    </div>
                    <div style="color:#333;font-size:80%">
                        691 просмотр
                    </div>
                </td>
            </tr>
        </table>
        <hr size="1" noshade='noshade' color="#999"
            style="width:100%;height:1px;margin:2px 0;padding:0;color:#999;background:#999;border:none;"/>
        <table width="100%">
            <tr valign="top">
                <td width="125">
                    <div>
                        <a href="  /watch?v=vgsPnsIk68M&amp;itct=CAoQpDAYCCITCODD4sqHzssCFUQwHQode0UKGDIHcmVsYXRlZEiD19_D46zPkD0%3D&amp;client=mv-google&amp;gl=RU&amp;hl=ru
">
                            <img src="//i.ytimg.com/vi/vgsPnsIk68M/default.jpg" alt="video icon" width="120"
                                 height="90"/>
                        </a>
                    </div>
                </td>
                <td style="width:100%;font-size:13px">
                    <div style="text-align:left;padding-bottom:1px;font-size:90%" dir="ltr"
                    >
                        <a href="  /watch?v=vgsPnsIk68M&amp;itct=CAoQpDAYCCITCODD4sqHzssCFUQwHQode0UKGDIHcmVsYXRlZEiD19_D46zPkD0%3D&amp;client=mv-google&amp;gl=RU&amp;hl=ru
">
                            Uss Connecticut 2012 Homecoming
                        </a>
                    </div>
                    <div style="color:#333;font-size:80%">
                        0:30
                    </div>
                    <div style="color:#333;font-size:80%">
                        Katherine bowman
                    </div>
                    <div style="color:#333;font-size:80%">
                        358 просмотров
                    </div>
                </td>
            </tr>
        </table>
        <hr size="1" noshade='noshade' color="#999"
            style="width:100%;height:1px;margin:2px 0;padding:0;color:#999;background:#999;border:none;"/>
        <table width="100%">
            <tr valign="top">
                <td width="125">
                    <div>
                        <a href="  /watch?v=rtL51AwNr3o&amp;itct=CAgQpDAYCSITCODD4sqHzssCFUQwHQode0UKGDIHcmVsYXRlZEiD19_D46zPkD0%3D&amp;client=mv-google&amp;gl=RU&amp;hl=ru
">
                            <img src="//i.ytimg.com/vi/rtL51AwNr3o/default.jpg" alt="video icon" width="120"
                                 height="90"/>
                        </a>
                    </div>
                </td>
                <td style="width:100%;font-size:13px">
                    <div style="text-align:left;padding-bottom:1px;font-size:90%" dir="ltr"
                    >
                        <a href="  /watch?v=rtL51AwNr3o&amp;itct=CAgQpDAYCSITCODD4sqHzssCFUQwHQode0UKGDIHcmVsYXRlZEiD19_D46zPkD0%3D&amp;client=mv-google&amp;gl=RU&amp;hl=ru
">
                            New London Submarines
                        </a>
                    </div>
                    <div style="color:#333;font-size:80%">
                        0:23
                    </div>
                    <div style="color:#333;font-size:80%">
                        flacapn1
                    </div>
                    <div style="color:#333;font-size:80%">
                        779 просмотров
                    </div>
                </td>
            </tr>
        </table>
        <hr size="1" noshade='noshade' color="#999"
            style="width:100%;height:1px;margin:2px 0;padding:0;color:#999;background:#999;border:none;"/>
        <table width="100%">
            <tr valign="top">
                <td width="125">
                    <div>
                        <a href="  /watch?v=2_GGtJdlN94&amp;itct=CAYQpDAYCiITCODD4sqHzssCFUQwHQode0UKGDIHcmVsYXRlZEiD19_D46zPkD0%3D&amp;client=mv-google&amp;gl=RU&amp;hl=ru
">
                            <img src="//i.ytimg.com/vi/2_GGtJdlN94/default.jpg" alt="video icon" width="120"
                                 height="90"/>
                        </a>
                    </div>
                </td>
                <td style="width:100%;font-size:13px">
                    <div style="text-align:left;padding-bottom:1px;font-size:90%" dir="ltr"
                    >
                        <a href="  /watch?v=2_GGtJdlN94&amp;itct=CAYQpDAYCiITCODD4sqHzssCFUQwHQode0UKGDIHcmVsYXRlZEiD19_D46zPkD0%3D&amp;client=mv-google&amp;gl=RU&amp;hl=ru
">
                            USS New Mexico Crew Departing
                        </a>
                    </div>
                    <div style="color:#333;font-size:80%">
                        3:05
                    </div>
                    <div style="color:#333;font-size:80%">
                        otv105
                    </div>
                    <div style="color:#333;font-size:80%">
                        25 просмотров
                    </div>
                </td>
            </tr>
        </table>
        <hr size="1" noshade='noshade' color="#999"
            style="width:100%;height:1px;margin:2px 0;padding:0;color:#999;background:#999;border:none;"/>
        <table width="100%">
            <tr valign="top">
                <td width="125">
                    <div>
                        <a href="  /watch?v=i2liNEx0biI&amp;itct=CAQQpDAYCyITCODD4sqHzssCFUQwHQode0UKGDIHcmVsYXRlZEiD19_D46zPkD0%3D&amp;client=mv-google&amp;gl=RU&amp;hl=ru
">
                            <img src="//i.ytimg.com/vi/i2liNEx0biI/default.jpg" alt="video icon" width="120"
                                 height="90"/>
                        </a>
                    </div>
                </td>
                <td style="width:100%;font-size:13px">
                    <div style="text-align:left;padding-bottom:1px;font-size:90%" dir="ltr"
                    >
                        <a href="  /watch?v=i2liNEx0biI&amp;itct=CAQQpDAYCyITCODD4sqHzssCFUQwHQode0UKGDIHcmVsYXRlZEiD19_D46zPkD0%3D&amp;client=mv-google&amp;gl=RU&amp;hl=ru
">
                            USS New Mexico back in the U.S.
                        </a>
                    </div>
                    <div style="color:#333;font-size:80%">
                        0:23
                    </div>
                    <div style="color:#333;font-size:80%">
                        KRQE
                    </div>
                    <div style="color:#333;font-size:80%">
                        163 просмотра
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<br/>
<div style="margin-right:3px;margin-left:3px">
    <a name="watch_actions" id="watch_actions"></a>
    <div style="padding-bottom:0">

        Комментарии (<b>38</b>)
    </div>
    <div style="padding-bottom:0">
        <a href="view_comment?v=PSE9Zjh364M&amp;client=mv-google&amp;gl=RU&amp;hl=ru">
            Просмотр
        </a>
    </div>
    <br/>
    <div style="padding-bottom:0">

        <a href="/rating?action_like=1&amp;plid=AAUucHlZEqBvsVYP&amp;v=PSE9Zjh364M&amp;client=mv-google&amp;gl=RU&amp;hl=ru">
            Мне понравилось
        </a>
    </div>
    <div style="padding-bottom:0">

        <a href="/rating?action_dislike=1&amp;plid=AAUucHlZEqBvsVYP&amp;v=PSE9Zjh364M&amp;client=mv-google&amp;gl=RU&amp;hl=ru">
            Мне не понравилось
        </a>
    </div>
    <div style="padding-bottom:0">

        <a href="picker_service?action_get_add_to_playlists=1&amp;video_ids=PSE9Zjh364M&amp;client=mv-google&amp;gl=RU&amp;hl=ru">
            Добавить в плейлист
        </a>
    </div>
    <div style="padding-bottom:0">

        <a href="add_favorite?v=PSE9Zjh364M&amp;client=mv-google&amp;gl=RU&amp;hl=ru">
            Избранное
        </a>
    </div>
    <br/>
    <div style="padding-bottom:0">

        Отправить
    </div>
    <div style="padding-bottom:0">
        <div>
            <a href="http://m.facebook.com/sharer.php?u=http%3A//www.youtube.com/watch%3Fv%3DPSE9Zjh364M%26sns%3Dfb&amp;t=USS%20Hartford%20%28SSN%20768%29%20surfaces%20at%20the%20Arctic%20circle%20for%20ICEX%202016">Facebook</a>
        </div>
        <div>
            <a href="http://twitter.com/home?status=%23youtube%20USS%20Hartford%20%28SSN%20768%29%20surfaces%20at%20the%20Arctic%20circle%20for%20ICEX%202016%20www.youtube.com/watch%3Fv%3DPSE9Zjh364M%26sns%3Dtw">Twitter</a>
        </div>
    </div>
    <br/>
    <div style="padding-bottom:0">

        <a href="flag?v=PSE9Zjh364M&amp;client=mv-google&amp;gl=RU&amp;hl=ru">
            Пожаловаться
        </a>
    </div>
</div>
<br/>
<hr size="1" noshade='noshade' color="#999"
    style="width:100%;height:1px;margin:2px 0;padding:0;color:#999;background:#999;border:none;"/>
<br/>
<div style="margin-right:3px;margin-left:3px">
    <div style="padding-bottom:0"><a href="/?client=mv-google&amp;gl=RU&amp;hl=ru" accesskey="0">Главная страница
        YouTube</a></div>
    <div style="padding-bottom:0"><a href="/videos?s=mp&amp;t=t&amp;client=mv-google&amp;gl=RU&amp;hl=ru">Просмотр
        видео</a></div>
    <div style="padding-bottom:0"><a href="/my_account?client=mv-google&amp;gl=RU&amp;hl=ru">Мой аккаунт</a></div>
    <div style="padding-bottom:0"><a href="//www.youtube.com/upload">Загрузить</a></div>
</div>
<br/>

<div style="text-align:center;background:#EEE;border-top:1px solid #999;font-size:80%">
    <br/>
    <div>
        Страна:
        <a href="/select_site?action_country=1&amp;next=%2Fwatch%3Fv%3DPSE9Zjh364M&amp;client=mv-google&amp;gl=RU&amp;hl=ru">Россия</a>
        -
        Язык:
        <a href="/select_site?action_language=1&amp;next=%2Fwatch%3Fv%3DPSE9Zjh364M&amp;client=mv-google&amp;gl=RU&amp;hl=ru">Русский</a>
    </div>
    <div>
        <a id="sign-in-footer"
           href="https://accounts.google.com/ServiceLogin?passive=true&amp;hl=ru&amp;service=youtube&amp;continue=https%3A%2F%2Fm.youtube.com%2Fsignin%3Fapp%3Dm%26next%3D%252Fwatch%253Fv%253DPSE9Zjh364M%26action_handle_signin%3Dtrue%26feature%3Dmobile%26hl%3Dru&amp;btmpl=mobile_tier2&amp;ltmpl=mobile&amp;uilel=3">Войти</a>
    </div>
    <div>
        <a href="http://www.google.com/support/youtube?p=youtube&amp;hl=ru">Справка</a>
        -
        <a href="/terms?client=mv-google&amp;gl=RU&amp;hl=ru">Условия использования и политика конфиденциальности</a>
    </div>
    <br/>
    <b>Мобильная версия</b>
    | <a
        href="https://www.youtube.com/watch?v=PSE9Zjh364M&amp;persist_app=1&amp;app=desktop&amp;client=mv-google&amp;gl=RU&amp;hl=ru">Версия
    для ПК</a>
    <div dir="ltr">
        &copy;
        2016 YouTube, LLC
    </div>
    <br/>
</div>
</body>
</html>