<table id="table" class="table table-striped sortable">
    <thead>
    <tr>
        <th>
            fn
        </th>
        <th>
            id
        </th>
        <th>
            title
        </th>
        <th>
            created dt
        </th>
        <th>
            ups
        </th>
        <th class="sorttable_numeric">
            reposts count
        </th>
        <th class="sorttable_numeric">
            length (secs)
        </th>
        <th class="sorttable_numeric">
            yt comments
        </th>
        <th class="sorttable_numeric">
            yt views
        </th>
        <th class="sorttable_numeric">
            yt likes
        </th >
        <th class="sorttable_numeric">
            yt dislikes
        </th>
        <th class="sorttable_numeric">
            yt favorites
        </th>
    </tr>
    </thead>
    <tbody>
    {% for post in posts %}
    <tr id="{{post['fullname']}}-{{post['video_id']}}">
        <th sorttable_customkey="{{post['fullname']}}">
            {{post['fullname']}}
        </th>
        <th>
            <a href="{{post['video_url']}}" target="_blank"> {{ post['video_id'] }}</a>
        </th>
        <th class="col-md-3">
            <a href="{{post['reddit_url']}}" target="_blank">{{ post['title'] }}</a>
        </th>
        <th sorttable_customkey="{{post['created_utc']}}">
            {{post['created_dt']}}
        </th>
        <th sorttable_customkey="{{post['ups']}}" class="ups">
            {{post['ups']}}
        </th>
        <th sorttable_customkey="{{post['reposts_count']}}" class="reposts">
            {{post['reposts_count']}}
        </th>
        <th sorttable_customkey="{{post.get('video_length')}}">
            {{post.get('video_length')}}
        </th>
        <th sorttable_customkey="{{post['yt_comments']}}" class="yt-comments">
            {{post['yt_comments']}}
        </th>
        <th sorttable_customkey="{{post['yt_likes']}}" class="yt-likes">
            {{post['yt_views']}}
        </th>
        <th sorttable_customkey="{{post['yt_views']}}" class="yt-views">
            {{post['yt_likes']}}
        </th>
        <th sorttable_customkey="{{post['yt_dislikes']}}" class="yt-dislikes">
            {{post['yt_dislikes']}}
        </th>
        <th sorttable_customkey="{{post['yt_favorites']}}" class="yt-favorites">
            {{post['yt_favorites']}}
        </th>
        <th>
            <btn onclick=post_change("{{post['fullname']}}","{{post['video_id']}}","update")
                 class="btn btn-xs btn-success">
                <span class="glyphicon glyphicon-refresh"></span>
            </btn>
        </th>

        <th>
            <btn onclick=post_change("{{post['fullname']}}","{{post['video_id']}}","del") class="btn btn-xs btn-danger">
                <span class="glyphicon glyphicon-remove"></span>
            </btn>
        </th>
    </tr>
    {% endfor %}
    </tbody>

</table>