<table id="table" class="table table-striped sortable">
    <thead>
    <tr>
        <th>
            id
        </th>
        <th>
            title
        </th>
        <th>
            created dt
        </th>
        <th>
            ups
        </th>
        <th>
            reposts count
        </th>
        <th>
            post id (fullname)
        </th>
    </tr>
    </thead>
    <tbody>
    {% for post in posts %}
    <tr>
        <th>
            <a href="{{post['video_url']}}" target="_blank"> {{ post['video_id'] }}</a>
        </th>
        <th>
            <a href="{{post['reddit_url']}}" target="_blank">{{ post['title'] }}</a>
        </th>
        <th sorttable_customkey="{{post['created_utc']}}">
            {{post['created_dt']}}
        </th>
        <th sorttable_customkey="{{post['ups']}}">
            {{post['ups']}}
        </th>
        <th sorttable_customkey="{{post['reposts_count']}}">
            {{post['reposts_count']}}
        </th>
        <th sorttable_customkey="{{post['fullname']}}">
            {{post['fullname']}}
        </th>
        <th>
            <btn onclick=post_change("{{post['fullname']}}","{{post['video_id']}}","update")
                 class="btn btn-xs btn-success">
                <span class="glyphicon glyphicon-refresh"></span>
            </btn>
        </th>

        <th>
            <btn onclick=post_change("{{post['fullname']}}","{{post['video_id']}}","del") class="btn btn-xs btn-danger">
                <span class="glyphicon glyphicon-remove"></span>
            </btn>
        </th>
    </tr>
    {% endfor %}
    </tbody>

</table>