<tr>
    <th>
        {{el['name'] }}
    </th>
    <th>
        <table class="inner">
            <tbody>
            <tr>
                <th>
                    {{el['statistic']['big_ups']}}
                </th>
                <th>
                    {{el['statistic']['little_ups']}}
                </th>
                <th>
                    {{el['statistic']['big_reposts_count']}}
                </th>
                <th>
                    {{el['statistic']['little_time']}}
                </th>
                <th>
                    {{el['statistic']['not_video']}}
                </th>

            </tr>
            </tbody>
        </table>

    </th>
    <th>
        {{el['next_time_retrieve']}}
    </th>
    <th>
        {{el['count']}}
    </th>
    <th>
        {{el['time_window']}}
    </th>

    <th>
        {{el.get('count_all_posts', 0)}}
    </th>
    <th>
        {{el.get('count_interested_posts') }}
    </th>
    <th>
        {{el.get('error',"All ok")}}
    </th>
    <th>
        <button type="button" class="btn btn-info" data-toggle="modal"
                data-target="#{{ el['name'] }}Modal">
            <span class="glyphicon glyphicon-tasks"></span>
        </button>
        <!-- Modal -->
        <div class="modal fade" id="{{el['name']}}Modal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h1>FUCKING FORM!</h1>
                    </div>
                    <div class="modal-body">


                        <form action="{{url_for('add_subreddit')}}" method="POST">
                            <div class="form-group">
                                <label for="{{ el['name'] }}_name">Name</label>
                                <input id="{{ el['name'] }}_name" name="name" value="{{el['name']}}"
                                       type="text"
                                       class="form-control"
                                       placeholder="funny">
                                <label for="{{ el['name'] }}_lrtime">Time to retrieve (from last
                                    post)</label>
                                <input id="{{ el['name'] }}_lrtime" name="lrtime"
                                       value="{{el['lrtime']}}"
                                       type="text"
                                       class="form-control"
                                       placeholder="1800">
                            </div>
                            <div class="form-group">
                                <label for="{{ el['name'] }}_rate_min">Min count of ups</label>
                                <input id="{{ el['name'] }}_rate_min" name="rate_min"
                                       value="{{el['rate_min']}}"
                                       type="text"
                                       class="form-control"
                                       placeholder="0">

                                <label for="{{ el['name'] }}_rate_max">Max count of ups</label>
                                <input id="{{ el['name'] }}_rate_max" name="rate_max" type="text"
                                       class="form-control"
                                       placeholder="99999"
                                       value="{{ el['rate_max'] }}"
                                        >

                                <label for="{{ el['name'] }}_reposts_max">Max count of
                                    respots</label>
                                <input id="{{ el['name'] }}_reposts_max" name="reposts_max"
                                       type="text"
                                       class="form-control"
                                       value="{{ el['reposts_max'] }}"
                                       placeholder="100">

                                <label for="{{ el['name'] }}_time_min">Min time of video</label>
                                <input id="{{ el['name'] }}_time_min" name="time_min" type="text"
                                       class="form-control"
                                       value="{{el['time_min']}}"
                                       placeholder="PT0H1M30S">

                            </div>
                            <button type="submit" class="btn btn-default">EBASH!</button>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">NAX...
                        </button>
                    </div>
                </div>

            </div>
        </div>

    </th>
    <th>
        <btn onclick=refresh_sbrdt("{{el['name']}}") class="btn btn-success">
            <span class="glyphicon glyphicon-refresh"></span>
        </btn>
    </th>
    <th>
        <button type="button" class="btn btn-danger" data-toggle="modal"
                data-target="#{{ el['name'] }}ModalDel">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
        <!-- Modal -->
        <div class="modal fade" id="{{el['name']}}ModalDel" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h1>Are you sure???</h1>
                    </div>
                    <div class="modal-body">
                        <form action="{{ url_for('del_subreddit') }}" method="POST">
                            <input type="hidden" name="name" value="{{ el['name'] }}">
                            <button type="submit" class="btn btn-danger">YES!</button>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">
                            NEEEEET!...
                        </button>
                    </div>
                </div>

            </div>
        </div>

    </th>
    {% if go %}
    <th>
        <a href="{{url_for('info_subreddit', name=el['name'])}}"
           class="btn btn-default">
            <span class="glyphicon glyphicon-triangle-right"></span>
        </a>
    </th>
    {% endif %}
</tr>